
<%= form_for(page) do |f| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script>
      $(function() {
          $('#page_content').froalaEditor({
      heightMin: 200,
      heightMax: 500
    })
      });
  </script>
  
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <div class="row">
    <div class="col-md-4">
    <div class="actions">
    <%= f.submit %>
  </div>
      <div class="field">
    <%= f.label "Publish" %>
    <%= f.check_box :published %><br>
  </div>
  <div class="field">
    <%= f.label "Date And Time:" %><br>
    <%= f.datetime_select :published_at %><br>
  </div>
    </div>
   </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
         
            <div class="field">
            <%= f.label :slug %><br>
             <%= f.text_field :slug %><br>
          </div>
          
        </div>
        <div class="col-md-4">
         
            <div class="field">
    <%= f.label :menu_label %><br>
    <%= f.text_field :menu_label %><br>
  </div>
          
        </div>
        <div class="col-md-4">
         
            <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field:title %><br>
  </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          
              <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority %><br>
  </div>
          
        </div>
        <div class="col-md-4">
        
           <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
  </div>
         
        </div>
        <div class="col-md-4">
         
             <div class="field">
    <%= f.label :h1 %><br>
    <%= f.text_area :h1 %><br>
  </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
         
        </div>
        <div class="col-md-4">
         
        </div>
        <div class="col-md-4">
         </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          
            <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
  </div>
        
        </div>
      </div>
    </div>
  </div>
</div> 
<% end %>
