<h1>Editing Page: <%= @page.menu_label %>
 </h1> 
<%= render 'form', page: @page %>
<br>
<%= link_to raw('<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Show'), @page %> |
<%= link_to raw('<i class="fa fa-level-up" aria-hidden="true"></i> Back'), pages_path %>
