<% if @check == true%>
<div class="alert alert-block">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">You have unpublished page(s)!</h4>
  <button class="btn " data-toggle="collapse" data-target="#hide-me">Open</button>
</div>
<%end%>

<% if @check == true %>

<div id="hide-me" class="collapse out">
<table class="table table-bordered table-striped">
<thead>
    <tr>
      <th>Slug</th>
      <th>Menu label</th>
      <th>Published at</th>
      <th>Published</th>
      <th>Priority</th>
      <th>Title</th>
      <th>Description</th>
      <th>H1</th>
      <th>Content(HTML TAGS OFF)</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
    <% @pages.each do |page| %>
      <% if page.published == false %>
      <tr>
        <td><%= page.slug %></td>
        <td><%= page.menu_label %></td>
        <td><%= page.published_at %></td>
        <td><%= page.published %>
        </td>
        <td><%= page.priority %></td>
        <td><%= page.title %></td>
        <td><%= page.description %></td>
        <td><%= page.h1 %></td>
        <td><%= page.content.html_safe %></td>
        <td><%= link_to raw('<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Show'), page %></td>
        <td><%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'), edit_page_path(page) %></td>
        <td><%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'), page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
  </table>
</div>
<%end%>

<h1> (<%= link_to raw('<i class="fa fa-plus" aria-hidden="true"></i> Add '), new_page_path %>)</h1> 
<table class="table table-bordered table-striped" style="font-size:12px;">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Menu label</th>
      <th>Published at</th>
      <th>Published</th>
      <th>Priority</th>
      <th>Title</th>
      <th>Description</th>
      <th>H1</th>
      <th>Content(HTML TAGS OFF)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <% if page.published == true %>
      <tr align="center">
        <td><a href="<%="http://"+request.host_with_port + "/pages/" + page.slug %>"><%= page.slug %></a></td>
        <td><%= page.menu_label %></td>
        <td><%= page.published_at %></td>
        <td><%= page.published %></td>
        <td><%= page.priority %></td>
        <td><%= page.title %></td>
        <td ><%= page.description %></td>
        <td><%= page.h1 %></td>
        <td><%= html_escape(page.content)%></td>
        <td><%= link_to raw('<i class="fa fa-sticky-note-o" aria-hidden="true"></i> Show'), page %></td>
        <td><%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'), edit_page_path(page) %></td>
        <td><%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'), page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>
