
<br>
<h1>h1 tag: <%= @page.h1 %></h1>
<p></p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Slug</th>
      <th>Menu label</th>
      <th>Published at</th>
      <th>Published</th>
      <th>Priority</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
<tr>
        <td><%= @page.slug %></td>
        <td><%= @page.menu_label %></td>
        <td><%= @page.published_at %></td>
        <td><%= @page.published %></td>
        <td><%= @page.priority %></td>
        <td><%= @page.title %></td>
        <td><%= @page.description %></td>
      </tr>
</tbody>
</table>

 <strong>Content:</strong>
 <div class="container">
  <%= raw(@page.content) %>
  </div>
<%= link_to raw('<i class="fa fa-trash-o" aria-hidden="true"></i> Delete'), @page, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to raw('<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit'), edit_page_path(@page) %>   |  
<%= link_to raw('<i class="fa fa-level-up" aria-hidden="true"></i> Back'), pages_path %>
