<!DOCTYPE html>
<html>
  <head>
    <title><%=@titletext%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%=@metadescription%>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> 
      </button>
      <a class="navbar-brand" href="/">Index Page</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

    <%  @pages.each do |pagesc|%>
      <%  if pagesc.published == true%>
        <% if @choosedPage == pagesc.slug%>
        <li class="active"><a href="<%="http://"+request.host_with_port + "/pages/" + pagesc.slug %>"><%= pagesc.menu_label %></a></li>
        <%else%>
        <li><a href="<%="http://"+request.host_with_port + "/pages/" + pagesc.slug %>"><%= pagesc.menu_label %></a></li>
        <%end%>
       <% end%>
    <%end %>
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><div class="container">
    <%= yield %>
    </div>
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Andrew PyramidMello Prosencov, 2016</p>
      </div>
    </footer>
  </body>
</html>
